#main_content_wrap {
  background-color: #aaaaff;
}

#info {
  width: 800px;
  height: 60px;
  margin: 0 auto 0 auto;
  font-size: 40;
}

#info ul {
  margin: 0;
  padding: 0;
}

#info li {
  display: inline-block;
  margin-right: 50px;
}

#menu {
  margin: 20px auto 0 auto;
  width: 800px;
  height: 60px;
  background-color: #aaaaff;
}

#select {
  margin: 20px auto 0 auto;
  width: 800px;
  height: 60px;
  background-color: #aaaaff;
  text-align: justify;
}

.select-bell {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
}

.select-beehive {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
}

#select::after {
  width: 100%;
  content: '';
  display: inline-block;
  clear: left;
}

#wave {
  margin: 0 auto;
  display: block;
  clear: left;
}

#info-hh {
  margin: 20px auto 0 auto;
  font-size: 200%;
}

#info-ep {
  margin: 20px auto 0 auto;
  font-size: 200%;
}

#garden {
  margin: 0 auto 20px auto;
  display: block;
  clear: left;
}
